1.What are the two values of the Boolean data type? How do you write them?

Ans= The Boolean data type has only two possible values:
     True  
     False
     In writting the boolean value, the 'first letter of the value must be capital'.
     "True" is correct boolean value not 'true'.
     "False" is correct boolean value not 'false'.

2. What are the three different types of Boolean operators?

Ans= Three different types of boolean operators are
    (a) "and" operator = True only if both are True
    (b) "or"  operator = True if any one is True
    (c) "not" operator = True only if False

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

Ans= Truth Table for "and" operator

         x           y             x and y
        True        True            True
        True        False           False
        False       True            False
        False       False           False
        
     Truth Table for "or" operator
     
         x           y             x or y
        True        True            True
        True        False           True
        False       True            True
        False       False           False
        
     Truth Table for "not" operator
     
         x          not x
        True        False
        False       True

4. What are the values of the following expressions?

In [2]:
(5 > 4) and (3 == 5)
"""
   5 is greater than 4 but 3 is not equal to 5
   first is True second is False
   "and" operator is True only if both are true 
   therefore, output is False.
   
"""

False

In [4]:
not (5 > 4)
"""
   5 is greater than 4 hence True 
   "not" operator is True only if False
   therefore, output is False.
   
"""

False

In [1]:
(5 > 4) or (3 == 5) 
"""
   5 is greater than 4 but 3 is not equal to 5
   first is True second is False
   "or" operator is True if any one is True
   therefore, output is True.
  
"""

True

In [2]:
not ((5 > 4) or (3 == 5)) 
"""
   5 is greater than 4 but 3 is not equal to 5
   first is True second is False
   "or" operator is True if any one is True. hence, inner output is True
   but, "not" operator is True only if False
   therefore, final output is False.
   
"""

False

In [3]:
(True and True) and (True == False) 
"""
   First is True, Second is False
   "and" operator is True only if both are True
   therefore, output is False.
   
"""

False

In [4]:
(not False) or (not True) 
"""
   First is True, Second is False
   "or" operator is True if any one is True
   therefore, output is True.

"""

True

5. What are the six comparison operators?

Ans= Operators are symbols that are used to perform operation on variables and values.
     Comparison operators are used to compare two operands. They return a Boolean True or False depending on whether the
     comparison condition is true or false.
    
     There are total 6 comparison operators. 
     
      (1) "<"  	 'Less than' operator                       a<b
      (2) ">"    'greater than' operator                    a>b
      (3) "<="   'Less than or equal to' operator           a<=b
      (4) ">="   'Greater than or equal to' operator        a>=b
      (6) "=="   'equal to' operator                        a==b
      (7) "!="   'not equal to' oprator                     a!=b

6. How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.

Ans= assignment operators ("=") are used to assign values to variables.
    
    example  
        name = 10 (here "=" is assignment operator which is assigning a value '10' to variable 'name')
        name += 2 (same as 10+2, because we have assigned a value '10' to variable 'name. therefore output will be '12')
     
     In assignment operator variable is plced left hand side and value is placed right hand side.
     we cannot place a litrals on left hand side of an assignment operator.
     
     example
         5=5 #error cannot assign litral left hand side
     
     
     
     equal to operator ("==") is used to comapre the two operands present on  the either side.
     
     example
        'name' == 5 (here "==" is equal to operator which is comparing the two operands 'name' and '10' present on either side)
         output will be False
        
     if operands on both the sides of equal to operator is comaprable it returns the output as "True" otherwise ouptut will be        "False".
     we can place a litral on the left hand side of the equal to operator.
     
     example
          5==5 #output is True

In [9]:
print("assignment operator")
name = 10 #assigning value 10 to variable name 
name+=10 #same as 10+10
print(name)
print ("equal to operator")
'name'== 10 #comparing 'name' to 10

assignment operator
20
equal to operator

False

7. Identify the three blocks in this code:

In [ ]:
spam = 0
if spam == 10:
print('eggs')         #error= indentation block 
if spam > 5:
print('bacon')        #error= indentation block.
else:
print('ham')          #error= indentation block
print('spam')        
print('spam')

to clear the error in aboove code we have to give the proper indentation as shown below

In [6]:
spam = 0
if spam == 10:
    print('eggs')         
if spam > 5:
    print('bacon')        
else:
    print('ham')         
    print('spam')         
    print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [5]:
spam = float(input("please enter a number: "))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

please enter a number: 1
Hello

In [6]:
spam = float(input("please enter a number: "))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

please enter a number: 2
Howdy

In [7]:
spam = float(input("please enter a number: "))
if spam == 1:
    print("Hello")
elif spam == 2:
    print("Howdy")
else:
    print("Greetings!")

please enter a number: 3
Greetings!

9.If your programme is stuck in an endless loop, what keys you’ll press?

Ans= when a programme is stuck in an endless loop, to stop the loop we have to press CTRL+C command

10. How can you tell the difference between break and continue?

Ans= break
         It eliminates the execution of remaining iteration of loop.
         It early terminates the loop.
        ‘Break’ will resume control of program to the end of loop enclosing that ‘break’.
         The ‘break ‘stop the continuation of the loop.

In [17]:
for i in range(20):
    if i == 12:
        break #loop will terminate at i==12
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

      continue
         It will terminate only the current iteration of loop.
         It causes the early execution of the next iteration.
         The ‘continue’ will resume the control of the program to next iteration of that loop enclosing ‘continue'
         The ‘continue’ does not stop the continuation of loop and it stops the current.

In [19]:
for i in range(20):
    if i==12:
        continue #loop will stop for iteration i==12 and will run next iteration.
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
13
14
15
16
17
18
19

Q11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

Ans= range function  gives the sequence of the number. sequence of number starts from 0 by defalut and goes till  one number          prior to number alloted to range function.
     for example- if we run the function,  range(5)
     output sequence will start from 0(by default) and goes till 4(one number prior to number alloted to range function)

In [4]:
for i in range(10): #here we are asking the interpreter to give a sequence of number till 9 since we haven't specified any starting point so the default starting point will be 0
    print(i) #output will be a sequence of number starting from 0 till 9

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(0,10): #here we are assigning two parameter 'start' and 'stop' to the function 
    print(i) #output will be same as previous but here we are giving a starting point to the interpreter.

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(0,10,1): #here we are assigning three parameters 'start','stop' and 'step' to the function 
    print(i)
      """
         output will be same as previous but here we are giving all the necesary information to the interpreter i.e    
         a starting point, an ending point and step(number of steps to skip).
         
      """

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [7]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [1]:
jump = 1
while jump <=10:
    print(jump)
    jump+=1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?

Ans= first of all we have to import the spam module by using import statement i.e.
     import spam
     after importing the spam module to call the bacon() function we will use following syntax.
     module_name.function_name
     in our case it will be
     spam.bacon()